.container__journey-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  padding-top: 0;
}
.container__journey-action-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: #ffffff;
}

.container__journey-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}
.journey-filter-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.journey-filter-field {
  margin-right: 4rem;
}

.journey-search-field {
  width: 100%;
  margin: 1rem 0 0 1rem;
  background-color: #f7f7f7;
}
.fixedWidthCol1 {
  width: 15rem;
}

.fixedWidthCol2 {
  width: 8rem;
}
.journey-list-item {
  transition: background-color 0.3s;
}
.journey-list-item:hover {
  background-color: rgba(230, 230, 230, 1); /* Light grey background */
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .journey-search-field {
    width: 20rem;
    margin-bottom: 1rem;
  }
}
