.container__single-station {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  height: 85vh;
  background-color: #f7f7f7;
}

.container__station-details {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  position: relative;
}

.header__station {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.button__back {
  font-size: 0.9rem;
  font-weight: 500;
}

.station-detail {
  margin-bottom: 1rem;
}

.station-detail-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.station-detail-value {
  font-size: 1rem;
  font-weight: 400;
}

.container__map {
  flex: 1;
  height: 100%;
  width: 65%;
  margin-left: 1rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 768px) {
  .container__single-station {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 1rem 0;
  }

  .container__station-details {
    width: 95%;
    height: 50%;
    margin: 0;
    margin-bottom: 2rem;
  }

  .header__station {
    flex-direction: column;
  }

  .button__back {
    margin: 0;
  }

  .container__map {
    width: 100%;
    height: 30%;
    margin-right: 1rem;
  }

  .container__map .leaflet-container {
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
}
