.container__station-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  padding-top: 0;
}
.station-list--action-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
}
.station-search-field {
  width: 20rem;
  margin: 1rem 0 1rem 1rem;
  background-color: #f7f7f7;
}
.add-station-button {
  align-self: center;
  margin: 0 1rem 0rem 0;
}
.error-message,
.success-message {
  margin-bottom: 0.5rem;
}
.fixedWidthCol1 {
  width: 30rem;
}

.fixedWidthCol2 {
  width: 40rem;
}

.station-list-item {
  transition: background-color 0.3s, transform 0.3s ease;
}

.station-list-item .MuiTableCell-root {
  cursor: pointer;
  transition: color 0.3s;
}

.station-list-item:hover .MuiTableCell-root {
  color: rgba(70, 130, 180, 1);
}

.station-list-item:hover {
  background-color: rgba(230, 230, 230, 1); /* Light grey background */
  transform: scale(1.02);
  z-index: 1;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .station-search-field {
    width: calc(100% - 2rem); /* Subtracting 1rem left and 1rem right margin */
    margin-bottom: 0.5rem;
  }
  .station-list--action-area {
    flex-direction: column;
  }
  .add-station-button {
    align-self: flex-start;
    margin: 0 0 0.5rem 1rem;
  }
}
