.container__station-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 768px;
  padding: 1rem;
  padding-top: 0;
}

.header__stations {
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.station-search-field {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}
.fixedWidthCol1 {
  width: 30rem;
}

.fixedWidthCol2 {
  width: 40rem;
}
.station-list-item .MuiTableCell-root {
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
}
.station-list-item:hover .MuiTableCell-root {
  background-color: rgba(230, 230, 230, 1); /* Light grey background */
  color: rgba(70, 130, 180, 1); /* Highlighted text color */
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .station-search-field {
    width: 20rem;
    margin-bottom: 1rem;
  }
}
