.circle-marker {
  fill-opacity: 0.8;
  opacity: 1;
  fill: white;
  stroke: red;
  stroke-width: 0.7em;
  transition: stroke-width 0.2s ease;
  animation: circleMarker infinite 4s alternate;
}

@keyframes circleMarker {
  0% {
    stroke-width: 0.6em;
  }
  20% {
    stroke-width: 0.55em;
  }
  40% {
    stroke-width: 0.5em;
  }
  60% {
    stroke-width: 0.45em;
  }
  80% {
    stroke-width: 0.4em;
  }
  100% {
    stroke-width: 0.35em;
  }
}

@media screen and (max-width: 768px) {
  .station-map {
    z-index: 0;
  }
}
