.container__station-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  padding-top: 0;
}

.station-search-field {
  width: 100%;
  margin: 1rem 0;
}
.fixedWidthCol1 {
  width: 30rem;
}

.fixedWidthCol2 {
  width: 40rem;
}
.add-station-button {
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.station-list-item {
  transition: background-color 0.3s, transform 0.3s ease;
}

.station-list-item .MuiTableCell-root {
  cursor: pointer;
  transition: color 0.3s;
}

.station-list-item:hover .MuiTableCell-root {
  color: rgba(70, 130, 180, 1);
}

.station-list-item:hover {
  background-color: rgba(230, 230, 230, 1); /* Light grey background */
  transform: scale(1.02);
  z-index: 1;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .station-search-field {
    width: 20rem;
    margin: 1rem 0;
  }
}
